[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
environs = "==7.2.0"
requests = "*"
bs4 = "*"
beautifulsoup4 = "*"
pydub = "*"
speechrecognition = "*"
unidecode = "*"
fuzzywuzzy = "*"
python-telegram-bot = "*"
djangorestframework = "*"
markdown = "*"
telebot = "*"
pytelegrambotapi = "*"
boto3 = "*"

[requires]
python_version = "3.7"
